.wrapper {
  
  max-width: 1300px;
  min-height: 100svh;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  box-sizing: border-box;
  background-color: var(--main-background);
  color: var(--text);
  color-scheme: light;
}

.light {
  --main-background: #f2f5ea;
  --text: #6b6375;
  --text-h: #08060d;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #2c363f;
  --accent-contrast: #f2f5ea;
  --link: #08060d;
  --link-hover: #2c363f;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.dark {
  --main-background: #16171d;
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #d1d5db;
  --accent-contrast: #16171d;
  --link: #f3f4f6;
  --link-hover: #cbd5e1;
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  color-scheme: dark;
}

