
.button {
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.buttonConnect {
  min-height: 60px;
  padding: 0 38px;
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: var(--accent-contrast);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15rem;
  line-height: 1;
  border-radius: 4px;
}
