.menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
ol, ul {
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
a {
    text-decoration: none;
    color: var(--main-color);
}