.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: var(--main-color);
}
